language: php

php:
  - '7.0'
  - '7.1'
  
before_script:
  - composer self-update
  - composer --version
  - composer require sunra/php-simple-html-dom-parser guzzlehttp/guzzle --no-update

script: composer install --prefer-dist --no-interaction